<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-12">
    <div class="list-group mb-5">
        <a href="https://www.dacast.com/" class="list-group-item list-group-item-action list-group-item-primary" target="_blank">Dacast</a>
    </div>
  </div>
<div class="col-md-10">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe src="https://iframe.dacast.com/vod/2177919c-1656-55ab-3f7b-6cf7e6d6df4f/79ce5992-c1b0-2fb3-ebff-5c8fdefa982d" width="100%" height="100%" frameborder="0" scrolling="no" allow="autoplay" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen
    class="embed-responsive-item"></iframe>
  </div>
</div>
</div>
<router-outlet></router-outlet>
</div>